body {
    margin: 0;
}
.container {

    display: flex;
    flex-direction: column;            
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    
}

a {
    
    color: white;
    text-decoration: double;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 15em;
    
    
}